.ValidationComponent__Pass {
        width: 60%;
        padding: 16px;
        margin: 16px auto;
        border: 2px solid darkgreen;
        background-color: green;
        text-align: center;
}

.ValidationComponent__Fail {
        width: 60%;
        padding: 16px;
        margin: 16px auto;
        border: 2px solid darkred;
        background-color: red;
        text-align: center;
}