.CharComponent {
     display: inline-block;
    padding: 0px;
    text-align: center;
    margin: 5px;
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 45px;
    line-height: 15px;
    background: yellow;
    box-shadow: 0px 0px 9px 4px rgba(71,52,71,1);
}

.CharComponent__Space {
     display: inline-block;
     padding: 0px;
     text-align: center;
     margin: 5px;  
}

.hexagon {
     display: inline-block;
     position: relative;
     width: 50px; 
     height: 28.87px;
     background-color: #64C7CC;
     margin: 14.43px 0;
     line-height: 0px;
     cursor: pointer;
   }
   
   .hexagon:before,
   .hexagon:after {
     content: "";
     position: absolute;
     width: 0;
     border-left: 25px solid transparent;
     border-right: 25px solid transparent;
     left:0;
   }
   
   .hexagon:before {
     bottom: 100%;
     border-bottom: 14.43px solid #64C7CC;
   }
   
   .hexagon:after {
     top: 100%;
     width: 0;
     border-top: 14.43px solid #64C7CC;
   }